/* Custom styles */
.video-background {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.learn-more-btn {
    margin-top: 20px;
}
.navbar-brand i {
    margin-right: 8px; /* Add space between the icon and text */
    font-size: 1.5em; /* Adjust icon size */
}
